* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColor:  #01c7c7;;
  --section-background: #f6f6f6;
}
html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
body {
  /* height: 5000px; */
}
.header {
  background-color: white;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
  }
ul {
  list-style-type: none;
  background-color: rgb(240, 240, 240);
  padding: 15px;
  text-align: right;
  position: absolute;
  right: 25px;
  top: 28px;
  width: 200px;
  display: none;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
ul li a {
  margin-top: 2px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
ul li a:hover{
    padding-left: 20px;
    color: crimson  ;
}
ul li {
padding: 5px;
text-align: left;
  font-size: 19px;
}
.nav{
    position: relative;
}
.nav:hover ul{
display: block;
}
ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    right: 1px;
    top: -20px;
    border-color: transparent transparent  rgb(240, 240, 240) transparent;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  /* background-color: brown; */
}
.logo img {
  width: 60px;
  margin-top: 5px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
  cursor: pointer;
}
.icon span {
  width: 100%;
  height: 3px;
  color: black;
  background-color: rgb(40, 62, 63);
  margin-bottom: 5px;
}
.nav:hover .icon span:nth-child(2) {
  width: 100%;
}
.icon span:nth-child(2) {
  width: 50%;
  height: 3px;
  transition:0.5s ;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;
}

/* .nav{
    background-color: aliceblue;
    width: 200px;
    height: auto;
} */
li:not(:last-child){
    border-bottom: 1px solid rgb(224, 222, 222);
    width: 100%;
}
/* start landing */
.landing{
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.landing h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--mainColor);
    text-align: center;
    margin: 0;
}
.landing  p {
    font-size: 19px;
    text-align: center;
    line-height: 1.8;
  }
  /* start second */
  .second{
      background-color: aliceblue;
      text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
      display: flex;
      justify-content: space-between;
  }
  .second .container{
    display: flex;
    justify-content: space-around;
  }
  .infoo{
      text-align: center;
  }
  .infoo i{
      color: var(--mainColor);
      font-size: 45px;
  }
  .infoo h3{
    font-weight: bold;
    margin-top: 15px;
    font-size: 25px;
}
.infoo p{
    margin-top: 10px;
}
.second .container  .two,
.second .container  .three
{
margin-left: 20px;
}
@media (max-width: 745px) {
    .second .container{
        display: block;
        justify-content: space-around;
      }
      .infoo{
          margin-top: 60px;
      }
}
/* strat services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 500px;
}
.opacityyy{
    text-align: center;
    font-size: 100px;
    opacity: 0.2;
    letter-spacing: -3px;
    font-weight: bold;
    color: gray;
}
.services .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.services .container .immg {
    position: relative;
}
.services .container .immg::before{
    content: "";
    height: calc(100% + 100px);
    width: 100px;
    position: absolute;
    background-color: rgb(49, 49, 49);
    right: -30px;
    z-index: -1;
    top: -50px;
}
@media (max-width: 985px) {
    .immg img{
        display: none;
    }
    .immg{
        display: none;
    }
    .services .container{
        display: block;
    }
    .services .container .serv{
        width: 100%;
    }
    .services .servv2{
        text-align: center;
        width: 100%;
    }
    .serve .serv .two{
        width: 10   0%;
    }
}
@media (max-width:425px){
    .opacityyy{
        text-align: center;
        font-size: 70px;
        opacity: 0.2;
        letter-spacing: -3px;
        font-weight: bold;
        color: gray;
    }
}
/* start portfolio */
.portfolio{
    background-color: #f6f6f6;
    margin-top: 120px;
    height: auto;
    padding-bottom: 60px;
    padding-top: 60px;
}
.portfolio .card{
    height: auto;
width: 350px;
text-align: center;
background-color: white;
}
.portfolio .card img{
    width: 100%;
    height: 250px;
    }
.portfolio .container {
    display: flex;
    gap: 40px;
    margin-top: 60px;
}
.portfolio .container .infoportfolio{
    padding: 15px 15px;
}
.portfolio .container p{
    margin-top: 10px;
}
@media (max-width:815px){
    .portfolio .container {
        display: block;
        text-align: center;    
    }
    .portfolio .card{
        height: auto;
    width: 85%;
 margin: auto;
    margin-top: 25px;
    text-align: center;
    background-color: white;
    }
}
/* start about */
.about{
    padding-top:60px;
    padding-bottom: 60px;
    width: 100%;
}
.container{
    padding-top:60px;
    padding-bottom: 60px;
}
.about .imgabout{
    position: relative;
    width: 50%;
    height: 375px;
    margin: auto;
}
.about .imgabout::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .imgabout::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 300px;
    top: -40px;
    right:110px;
    border-bottom: 80px solid gray;
    border-left: 80px solid gray;
    z-index: -1;
}
hr{
    width: 150px;
    color: var(--mainColor);
    text-align: center;
}
.about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .container .about-info{
    width: 50%;
    line-height: 1.8;

}
    .about .container .about-info p:nth-child(1){
    font-weight: bold;
    margin-bottom: 45px;
    border-bottom: 3px solid var(--mainColor);
    padding-bottom: 29px;
    }
@media (max-width:1115px){
    .about .imgabout::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 300px;
        top: -40px;
        right:  -120px;
        border-bottom: 0px solid gray;
        border-left: 0px solid gray;
        z-index: -1;
    }
    
}
@media (max-width:728px){
    
    .about .imgabout::before{
        content: "";
        position: absolute;
        background-color: #ebeced;
        width: 0px;
        height: calc(100% + 80px);
        top: -40px;
        left: -20px;
        z-index: -1;
    }
.about .container{
    display: block;
    margin-top: 25px;
    margin: auto;
    align-items: center;
}
.about .container .about-info{
    width: 100%;
    line-height: 1.8;
    margin: auto;

}


}
@media (max-width:510px){
    .about .imgabout{
        position: relative;
    width: 250px;
    height: 375px;
    margin: auto; 
    }
    .about .container{
        overflow: hidden;
    }
}
/* start contact */
.contact,
.contact .container
{
    padding-top:60px;
    padding-bottom:60px;
}
.contact{
    background-color: #f6f6f6;
}
.contact .container{
    text-align: center;
    margin: auto;
    line-height: 2;
}
.contact .container h2{
    font-size: 40px;
    color: rgb(5, 5, 26);
    font-weight: bold;
}
.contact .container h3{
    color: #10cab7;
    font-size: 35px;
}
.conttaact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.contact .container .conttaact a{
    color: black;
}
@media (max-width:365px){
    .contact .container h3{
        color: #10cab7;
        font-size: 25px;
    }
    .contact .container h2{
        font-size: 30px;
        color: rgb(5, 5, 26);
        font-weight: bold;
    }
    .contact .container {
        line-height: 1.5;
    }
}
/* start footer */
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(2, 9, 36);
    margin: auto;
    text-align: center;
    color: white;
}
.footer .container h4{
    font-size: 25px;
}
@media (max-width:510px){
    .footer .container h4{
        font-size: 20px;
    }
}
@media (max-width:360px){
    .footer{
        padding-top:5px ;
        padding-bottom: 5px;
    }
    .footer .container h4{
        font-size: 10px;
    }
}